/* variables */
:root {
  --color-primary: #141414;
  --color-secondary: #f0ff45;
}

/* general styles */
h1,
h2 {
  margin: 0 !important;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}
/* image responsiveness */
img {
  width: 100%;
}

/* navigation */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6rem;
  width: 100%;
  z-index: 100;
  padding: 4rem 6rem;
  background-color: #141414;
  position: relative;
  /* margin-top: 2rem; */
}

.nav.sticky {
  position: fixed;
}
.nav__logo {
  width: 180px;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__item {
  margin-left: 2.5rem;
}

.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  color: #fff;
  font-size: clamp(1.3rem, 1.014rem + 0.762vw, 1.7rem);
  display: block;
  white-space: nowrap;
}
.nav__link:not(.nav__link--btn):hover {
  border-bottom: 2px solid var(--color-secondary);
}
.nav__link--btn:link,
.nav__link--btn:visited {
  background-color: var(--color-secondary);
  padding: 0.9rem 1rem;
  color: #000000;
  border-radius: 10px;
  font-weight: 600;
}
.nav__link--btn:hover {
  background-color: #000000;
  color: var(--color-secondary);
}

.nav__link--show {
  color: var(--color-secondary);
}

/* burger */
.nav__burger {
  display: none;
}

/* header */

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-primary);
}

.header__title {
  padding-top: 7rem;
  padding-left: 13rem;
  color: #fff;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 3fr;
  gap: 12rem;
  height: 100%;
}
.header__hero--container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.header__hero--banner {
  background-color: var(--color-secondary);
  border-top-left-radius: 50px;
  position: absolute;
  height: 90%;
  bottom: 0;
  left: 0;
  width: 86%;
  z-index: 1;
}

.header__hero--img {
  position: absolute;
  height: 100%;
  width: auto;
  object-fit: cover;
  left: 18px;
  bottom: 0;
  top: 0;
  margin: auto 0;
  z-index: 2;
}
.header__text--heading {
  font-size: clamp(1.3rem, 0.262rem + 4.154vw, 4rem);
}

.header__text--sub {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-top: 3rem;
}
.header__text--sub h2 {
  font-size: clamp(1.1rem, 0.677rem + 1.692vw, 2.2rem);
}

/* sections */
.section {
  padding-left: 13rem;
  padding-top: 7rem;
  padding-bottom: 10rem;
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
.section h2 {
  font-size: clamp(1.5rem, 1rem + 1.333vw, 2.2rem);
  font-weight: 400;
  margin-bottom: 2rem;
}
.section__content--music {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
  margin-top: 3rem;
  border-left: 2px solid rgba(128, 128, 128, 0.499);
  padding-left: 4rem;
}

.section__content--music-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.section__content--music--list {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 4rem;
  border: 1px solid #e5e7eb;
}
.section__content--music--img {
  width: 10rem;
  height: 10rem;
  border-radius: 0.5rem;
}
.text-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.text-container .name {
  font-size: clamp(1.3rem, 0.8rem + 1.333vw, 2rem);
  font-weight: 600;
}

.text-container .nickname {
  font-size: clamp(1.1rem, 0.814rem + 0.762vw, 1.5rem);
  color: #4b5563;
}

.text-container .date {
  font-size: clamp(1rem, 0.786rem + 0.571vw, 1.3rem);
  color: #6b7280;
  white-space: nowrap;
}
.listen-btn {
  background-color: #000000;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: clamp(1.3rem, 1.157rem + 0.381vw, 1.5rem);
  border: none;
  font-family: inherit;
}
.listen-btn:hover {
  background-color: #f0ff45;
  color: #000000;
}
.section__content--music--card {
  background-color: var(--color-secondary);
  padding: 2rem 3rem;
  width: max-content;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.section__content--music--card p {
  font-size: clamp(2.5rem, 1.429rem + 2.857vw, 4rem);
  font-weight: 700;
}

.release-btn {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 0.9rem 1rem;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: clamp(1.3rem, 1.157rem + 0.381vw, 1.5rem);
  border: none;
  align-self: flex-start;
}

.release-btn:hover {
  background-color: #141414a3;
}

.section__dark {
  background-color: #141414;
  color: #fff;
  padding: 15rem 13rem;
}
.section__dark h2 {
  font-size: clamp(1.3rem, 0.262rem + 4.154vw, 4rem);
}
.section__dark--heading {
  font-weight: 700;
}
#section--3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  padding: 15rem 13rem;
}
#section--3 p {
  font-size: clamp(1.5rem, 1.143rem + 0.952vw, 2rem);
}

.footer {
  background-color: var(--color-primary);
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 8rem 0;
}
.footer__links {
  display: flex;
  padding: 4rem 13rem;
  list-style: none;
}
.footer__link--item {
  margin-left: 7rem;
}

.footer__link:link,
.footer__link:visited {
  color: #fff;

  font-size: clamp(1.3rem, 0.262rem + 4.154vw, 4rem);
  text-decoration: none;
}
.footer__link:hover {
  border-bottom: 2px solid var(--color-secondary);
}

.footer__link--btn:link,
.footer__link--btn:visited {
  background-color: var(--color-secondary);
  padding: 0.9rem 1rem;

  border-radius: 10px;
  font-size: 1.7rem;
  font-family: inherit;
  text-decoration: none;
  font-weight: 600;
  color: #000000;
}

.footer__link--btn:hover {
  background-color: #000000;
  color: var(--color-secondary);
}

/* modal */
.hidden {
  display: none;
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1000;
  padding: 2rem;
  max-width: 90%;
  width: 400px;
  text-align: center;
}
.close--btn {
  position: absolute;
  top: 10px;
  right: -80px;
  background-color: #fff;
  border: none;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 1001;
}
.close--btn img {
  width: 3rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

@media screen and (max-width: 950px) {
  .nav {
    padding: 0 2rem;
  }
  .nav__burger {
    display: block;
  }

  .nav__links {
    position: absolute;
    top: 6rem;
    right: 0;
    flex-direction: column;
    padding: 1.5rem;
    background-color: #000000;
    width: 60%;
    height: calc(100vh - 6rem);
    gap: 1rem;
    margin-left: 0;
    align-items: flex-start;
    opacity: 0;
  }
  .nav__logo {
    width: 10rem;
  }
  .header__title {
    padding: 0 4rem;
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .header__hero--container {
    height: 300px; /* Fixed height to maintain proportions */
    position: relative;
    overflow: hidden;
  }

  .header__hero--banner {
    width: 20%; /* Same width as desktop */
    height: 80%; /* Keep the height similar to desktop */
    background-color: var(--color-secondary);
    border-top-left-radius: 50px;
    position: absolute;
    bottom: 0; /* Align to bottom */
    left: 0;
    z-index: 1; /* Keep behind the image */
  }

  .header__hero--img {
    position: absolute;
    height: 100%; /* Make sure the image covers the container height */
    width: auto;
    left: 18px; /* Same positioning as desktop */
    bottom: 0; /* Align image to the bottom of the container */
    z-index: 2; /* Keep image above the banner */
    object-fit: cover; /* Ensure the image fits within its container without distortion */
  }

  .header__text--sub {
    gap: 1rem;
  }
  .section {
    padding: 2rem;
  }
  .section__content--music {
    grid-template-columns: 1fr;
    padding-left: 2rem;
    margin-left: 1rem;
    gap: 2.5rem;
  }

  .section__content--music--list {
    gap: 2rem;
    padding: 0.5rem 1rem;
    width: max-content;
  }
  .section__content--music--img {
    width: 8rem;
    height: 8rem;
  }
  .section__content--music-container {
    column-gap: 1rem;
    grid-template-columns: 1fr;
  }
  .text-container {
    gap: 0.3rem;
  }
  .listen-btn {
    padding: 0.5rem;
  }
  .hide-on-mobile {
    display: none;
  }
  #section--3 {
    grid-template-columns: 1fr;
    gap: 3rem;
    padding: 4rem 2rem;
  }
  .footer {
    align-items: flex-start;
    padding-left: 2rem;
  }
  .footer__links {
    flex-direction: column;
    padding: 0;
    justify-content: space-between;
    gap: 2rem;
  }
  .footer__link--item {
    margin-left: 0;
  }
  .modal {
    width: 50%;
  }
  .close--btn {
    right: -50px;
    border: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
  }
  .close--btn img {
    width: 2rem;
  }
}
